<div class="background-wrapper">
  <div class="overlay"></div>
  <div class="grid grid-cols-[20rem_1fr_auto] grid-rows-[auto_1fr_auto] h-screen">
    <img src="assets/images/itris-logo-wit-png.png" alt="Itris User Management" class="scale-50 col-start-1 row-start-1 w-full h-full">
    <p class="text-4xl text-center py-8 text-green-400 col-start-2"></p>
    <app-navigation class="col-start-1 row-start-2 row-span-2"></app-navigation>
    <div class="overflow-auto col-start-2 col-span-2 row-start-2 h-full">
      <router-outlet></router-outlet>
    </div>
    <footer class="col-start-2 row-start-3 text-center text-sm text-gray-400 py-3">
      <p>© 2025 Itris B.V. All rights reserved | Developed by Rubèn Plantinga</p>
    </footer>
  </div>
</div>
