<div class="grid grid-cols-[25%_1fr_25%] gap-4 p-12">
    <div class="col-span-1 col-start-2">
      <user-form 
        [isSubmitting]="isSubmitting"
        [originalUser]="userData"
        [errorMessage]="errorMessage"
        [successMessage]="successMessage"
        (submit)="onSubmit($event)">
        <span ngProjectAs="title">Edit User Details</span>
        <span ngProjectAs="confirmButtonText">{{ isSubmitting ? 'Updating...' : 'Update User' }}</span>
      </user-form>
    </div>
  </div>
